* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #000000;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  justify-content: flex-start;
  margin-bottom: 3.75rem;
}

.products {
  flex: 1 1 auto;
  background-color: #f6f6f6;
  display: flex;
}

.heading {
  align-items: flex-start;
}

.products__heading {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin: 2.5rem 0;
}

.products__list {
  display: flex;
  flex-direction: row;
}

.products__item {
  box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
  border-radius: 0.75rem;
  max-width: 23.75rem;
  height: 30.125rem;
  margin: 0px 0.625rem;
  flex: 1 1;
  background-color: #ffffff;
}

.products__card {
  position: relative;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.products__img {
  max-width: 100%;
  border-radius: 0.75rem 0.75rem 0 0;
  height: auto;
  flex: 0 0 auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.tags {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tags__item {
  background: #fdcff3;
  border-radius: 0.5rem;
  padding: 0.0625rem 1rem 0px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  margin-right: 1rem;
  color: #2f2f2f;
}

.tags__item--last {
  background: #ffcf56;
  padding-right: 1.025rem;
}

.center {
  margin: 0 1.25rem;
}

.products__info {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  flex-grow: 1;
}

.products-info__heading {
  margin-bottom: 1rem;
  font-weight: 900;
  color: #2f2f2f;
  font-size: 1.5rem;
}

.products-info__link {
  color: inherit;
  text-decoration: none;
}

.products-info__description {
  font-weight: 400;
  font-size: 1rem;
  color: #2f2f2f;
  flex-grow: 1;
}

.button {
  color: #42940f;
  font-family: "Arial";
  font-style: normal;
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.39;
  text-transform: uppercase;
  padding: 0.625rem 0;
  background-color: #ffffff;
  width: 100%;
  border-radius: 0.5rem;
  border: 0.125rem solid #42940f;
  transition: all 0.4s;
}

.button-default:hover {
  background: #42940f;
  color: #ffffff;
}

.button-default:active {
  background: #1f5200;
  border: 0.125rem solid #1f5200;
  color: #ffffff;
}

.button-disabled {
  background-color: #4e4e4e;
  color: #ffffff;
  border: 0.0625rem solid #4e4e4e;
  cursor: not-allowed;
}

@media (max-width: 900px) {
  .products__list {
    display: block;
    align-self: center;
  }

  .products__item {
    max-width: 22.5rem;
    margin: 1.25rem 0 0 0;
  }

  .container {
    height: 100%;
  }

  .products__heading {
    font-size: 2.25rem;
    margin: 1.875rem 0;
  }
}

@media (max-width: 390px) {
  .products__heading {
    font-size: 1.5rem;
    margin: 1.25rem 0;
    line-height: 1.25;
  }
}
